.marquee {
  width: 100vw;
  height: 20vh;
  background-color: black;
  color: #e26a2c;
  overflow: hidden;
  position: relative;
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #e26a2c;
  width: 20vw;
  flex-shrink: 0;

  font-size: 5rem;
  white-space: nowrap;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

div .marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 20s linear infinite;
}

section div:nth-child(even) .marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrollingEven 20s linear infinite;
}

@keyframes scrollingEven {
  0% {
    transform: translateX(-180vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-180vw);
  }
}
