.home {
  width: 100%;
  height: 100vh;
  background-color: slategray;

  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "game-over";
  src: url("../assets/Thirteen-Pixel-Fonts.ttf");
}

.intro-body {
  position: absolute;
  color: white;
  background: red;
  background-color: rgba(200, 10, 10, 0.3);
  padding: 50px 180px 50px;
}

.go-font {
  font-family: game-over;
  text-align: center;
}

.button-3d {
  position: relative;
  width: auto;
  color: #ecf0f1;
  text-decoration: none;

  border-radius: 5px;
  background: #ff8c28;
  text-align: center;
  padding: 16px 18px 14px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}

.button-3d:active {
  -webkit-box-shadow: 0px 2px 0px #d35400;
  -moz-box-shadow: 0px 2px 0px #d35400;
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 4px;
}
