h2 {
  font-family: game-over, bold;
  text-align: center;
  color: #e9a6a6;
}

h4 {
  font-family: game-over, bold;
  color: #e9a6a6;
}

h5 {
  font-family: game-over, bold;
  color: #e9a6a6;
}

.background {
  background-color: #1f1d36;
  height: 100vh;
}

.round {
  /* background-color: red; */
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.player-container {
  /* background-color: lime; */
  height: 90vh;
  width: 100%;
}

.versus-container {
  /* background-color: tomato; */
  height: 90vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.computer-container {
  /* background-color: salmon; */
  height: 90vh;
  width: 100%;
}

.item-1 {
  /* background-color: blue; */
  height: 30%;
  width: 100%;
  color: #b983ff;

  font-size: 5em;
}

.item-2 {
  /* background-color: red; */
  height: 30%;
  width: 100%;
  color: #b983ff;

  font-size: 5em;
}

.item-2-comp {
  /* background-color: lime; */
  height: 30%;
  width: 100%;
  color: #864879;

  font-size: 5em;
}

.item-3 {
  /* background-color: gold; */
  height: 30%;
  width: 100%;
  color: #b983ff;

  font-size: 5em;
}

/* .item-1:hover,
.item-2:hover,
.item-3:hover {
  cursor: pointer;
} */

.icon:hover {
  font-size: 1.2em;
  cursor: pointer;
}

.player-select-hand-text {
  /* background-color: green; */
  height: 10%;
  width: 100%;
}

.modal-lose-center {
  position: absolute;
  left: 50%;

  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-color: gray; */
  /* background-color: transparent; */
  background-color: #3d2c8d;
  border-radius: 10px;

  width: 50%;
  height: 50%;
}

.modal-content-title {
  /* background-color: rgba(200, 10, 10, 0.3); */
  height: 25%;
  width: 100%;
}

.modal-content-input {
  /* background-color: lime; */
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content-button {
  /* background-color: gold; */
  height: 25%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.modal-username-is-same {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* background-color: transparent; */
  background-color: #3d2c8d;

  border-radius: 1%;

  width: 70%;
  height: 70%;

  display: flex;
}

.modal-username-is-same-item-1 {
  /* background-color: lime; */

  align-items: center;
  justify-content: center;
  display: flex;

  width: 50%;
}

.modal-username-is-same-item-2 {
  /* background-color: royalblue; */

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  width: 50%;
}

.modal-loading-post {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
}
